{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une news</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="enregistrer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('news_index') }}">retour à la liste</a>
        </li>
    </ul>
{% endblock %}
